@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Outfit", "Segoe UI", sans-serif;
  height: 100vh;
  background-color: #000;
  background: url("./assets/pexels-zetong-li-880728-9993592.jpg") no-repeat
    center center/cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: none;
  padding: 32px;
  text-align: center;
}

.app .search {
  margin-bottom: 32px;
}

.app input {
  width: 280px;
  padding: 12.8px;
  font-size: 16px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
  outline: none;
}

.app input::placeholder {
  color: white;
  opacity: 0.8;
}

.app input:focus {
  border-color: rgba(255, 255, 255, 1);
}

.location {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}

.temp h1 {
  font-size: 80px;
  font-weight: 700;
  margin: 0;
  display: inline-flex;
  align-items: center;
}

.temp .unit {
  margin-left: 8px;
  font-size: 24px;
  display: inline-flex;
  align-items: center;
}

.temp .unit button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin: 0 5px;
  padding: 0;
  opacity: 0.6;
}

.temp .unit button.active {
  font-weight: bold;
  opacity: 1;
}

.temp .unit button:hover {
  opacity: 1;
}

.description {
  font-size: 20px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description p {
  margin-left: 8px;
}

.bottom {
  display: flex;
  flex-direction: column; /* Stack weather details and forecast */
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px; /* Control the max width */
  margin-top: 32px;
  padding: 16px;
  background: rgba(255, 255, 255, 0.15); /* Slight transparency */
  border-radius: 12px;
}
.weather-details {
  display: flex; /* Align Feels Like, Humidity, Wind horizontally */
  justify-content: space-around; /* Spread them out evenly */
  width: 100%; /* Full width for the row */
  margin-bottom: 20px; /* Space between weather details and forecast */
}

.weather-details div {
  text-align: center;
  flex: 1; /* Each section takes up equal space */
}

.bottom div {
  text-align: center;
}

.bold {
  font-weight: 700;
  font-size: 19px;
}

@media (min-width: 768px) {
  .app input {
    width: 300px;
    font-size: 19px;
  }

  .location {
    font-size: 32px;
  }

  .temp h1 {
    font-size: 96px;
  }

  .description {
    font-size: 24px;
  }

  .bottom {
    max-width: 600px;
  }
}
