.forecast-container {
  margin-top: 20px;
  text-align: center;
}

.forecast-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 equally spaced columns */
  gap: 10px; /* Space between columns */
  justify-items: center;
  align-items: center;
  width: 100%;
  max-width: 800px; /* Control the width of the grid */
  margin: 0 auto; /* Center the grid */
}

.forecast-item {
  text-align: center;
}

.forecast-day {
  font-weight: bold;
  font-size: 18px; /* Day of the week font size */
}

.forecast-icon {
  font-size: 36px; /* Weather icon size */
}

/* Style for max temperature */
.forecast-max-temp {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}

/* Style for min temperature */
.forecast-min-temp {
  font-size: 16px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.8);
}
